<!-- Modal -->
<div class="modal mr-0 fade" id="shoppingCart" tabindex="-1" role="dialog" aria-labelledby="shoppingCartTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" style="width: 50px;"># Ref</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productos">
              <th scope="row">{{item.ref}}</th>
              <td>{{item.nombre}}</td>
              <td>${{item.precio}}</td>
              <td>{{item.cantidad}}</td>
              <td>${{item.precio * item.cantidad}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <span class="col-12 d-sm-none text-dark"><span class="font-weight-bolder mr-2">Total:</span>${{precioTotal}}</span>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">SEGUIR COMPRANDO</button>
        <div>
          <span class="d-none d-sm-inline-flex text-dark mr-4"><span class="font-weight-bolder mr-2">Total: </span>${{precioTotal}}</span>
          <button type="button" class="btn btn-primary">HACER PEDIDO</button>
        </div>
      </div>
    </div>
  </div>
</div>
