<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">El Constructor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngFor="let item of rutas" routerLinkActive="active">
          <a class="nav-link" routerLink="/{{item.route}}">{{item.name}}</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Nombre producto" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>