<div id="contenedor" class="col-xl-12">  
  <div class="row">
    <div id="ContenedorImagen" class="  col-xl-8">
      <img  src="assets/img/misioEmpresarial.jpg" alt="Esta es una imagen de mision empresarial">
    </div>
    <div id="TextoImagen" class="col-xl-4 text-center">
      <h1>"Ofrecer una amplia gama de productos de ferreteria para la contruccion,
         funcionales a precios tan bajos que la mayor cantidad posible de personas 
         podrá pagarlos."</h1>
    </div>  
    
    <div id="TextoImagen2" class="col-xl-5 text-center">
      <h1>"El Contructor crea una relación de cooperación: encuentra ofertas en Dosquebradas y compra en grandes cantidades, luego los clientes eligen los productos y los compran en linea para ser despachados desde la sede principal hasta su domicilio.
            De este modo, todos juntos ahorramos dinero para mejorar nuestras vidas cotidianas."</h1>
    </div>
    <div id="ContenedorImagen" class="col-xl-7">
      <img src="assets/img/Vision.jpg" alt="Esta es una imagen de mision empresarial">
    </div>
  
</div>
  
</div>