<div class="container">
  <div class="row">
    <form>
      <div class=" form-group col-auto collg col-md-8 col-xl-10" style="background-color:gray;" >
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Selecionar archivo</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        </form>
        <form>
        <div class="mb-2 px-2 col-12 form-group">
          <label for="validationTextarea">Mision</label>
          <textarea class="form-control" id="validationTextareaMision" placeholder="Mision de la empresa" required></textarea>
        </div>
        <div class="mb-2 px-2 col-12 form-group">
          <label for="validationTextarea">Vision</label>
          <textarea class="form-control" id="validationTextareaVision" placeholder="Vision de la empresa" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Subir Datos</button>
        </form>
      </div>
    </form>
  </div>
</div>